/*!* TODO: --------------------------------------------- Global Styles --------------------------------------------- *!*/
/*body {*/
/*    background-color: #333366;*/
/*    margin: 0;*/
/*}*/

/*.container {*/
/*    width: 1000px;*/
/*    height: 100%;*/
/*    margin: auto;*/
/*    padding: 0 30px 0 30px;*/
/*    background-color: white;*/
/*    box-shadow: 0 0 20px black;*/
/*    font-family: sans-serif;*/
/*}*/

/*button {*/
/*    color: white;*/
/*    text-shadow: -1px -1px 2px black;*/
/*    font-family: sans-serif;*/
/*    background-color: orange;*/
/*    padding: 6px;*/
/*    border-radius: 4px;*/
/*    will-change: transform;*/
/*    transition: transform 250ms;*/
/*}*/

/*button:hover {*/
/*    transform: scale(1.05);*/
/*}*/

/*.loginHeader {*/
/*    display: flex;*/
/*    margin-left: auto;*/
/*    z-index: 5;*/
/*    height: 44px;*/
/*}*/

/*.loginHeader > div {*/
/*    font-size: 18px;*/
/*    color: white;*/
/*    font-family: sans-serif;*/
/*    text-decoration: none;*/
/*    padding: 20px 30px 10px 30px;*/
/*    border-radius: 0 0 8px 8px;*/
/*    margin: -10px 10px 0 0;*/
/*    will-change: transform;*/
/*    transition: transform 250ms;*/
/*}*/

/*.loginHeader > div:hover {*/
/*    transform: translateY(4px);*/
/*    box-shadow: 0 4px 8px #ffffa2;*/
/*}*/

/*.loginHeader .loggedOut {*/
/*    background-color: orange;*/
/*    text-shadow: -1px -1px 2px black;*/
/*}*/

/*.loginHeader .loggedIn {*/
/*    background-color: lightsalmon;*/
/*    color: white;*/
/*    text-shadow: 0 0 2px brown;*/
/*    font-size: 18px;*/
/*}*/

/*.material-symbols-outlined {*/
/*    display: inline-flex;*/
/*    vertical-align: bottom;*/
/*}*/

/*.alignedForm {*/
/*    display: grid !important;*/
/*    grid-template-columns: 1fr 1fr 100%;*/
/*}*/

/*.alignedForm > * {*/
/*    padding: 4px;*/
/*    margin: 6px;*/
/*}*/

/*.alignedForm input:invalid {*/
/*    border: 1px dashed lightcoral;*/
/*    border-radius: 1px;*/
/*}*/

/*.alignedForm error {*/
/*    color: gray;*/
/*    display: none;*/
/*}*/

/*.alignedForm input:invalid ~ error {*/
/*    display: inline;*/
/*}*/

/*.alignedForm button {*/
/*    margin-right: auto;*/
/*}*/

/*.header {*/
/*    display: flex;*/
/*    background-color: white;*/
/*    color: gray;*/
/*    font-family: "Rowdies", cursive;*/
/*    position: relative;*/
/*    z-index: 2;*/
/*    box-shadow: 0 10px 8px darkslateblue;*/
/*}*/

/*.header h2 {*/
/*    position: relative;*/
/*    z-index: 3;*/
/*    font-size: 32px;*/
/*    color: white;*/
/*    text-shadow: 1px 1px 5px black, 3px 3px 2px orange, -3px -1px 2px blue;*/
/*    font-family: "Rowdies", cursive;*/
/*    padding: 10px;*/
/*    display: block;*/
/*    justify-content: start;*/
/*}*/

/*.header h2 a {*/
/*    color: white;*/
/*    text-decoration: none;*/
/*}*/

/*.header h4 {*/
/*    position: absolute;*/
/*    left: 100px;*/
/*    top: -1.4em;*/
/*    z-index: 2;*/
/*    font-size: 100px;*/
/*    color: white;*/
/*    text-shadow: 0 0 5px red;*/
/*}*/

/*.header .channelDetail {*/
/*    flex-basis: auto;*/
/*    align-self: flex-end;*/
/*    margin-left: 20px;*/
/*    padding: 30px;*/
/*    display: inline;*/
/*    font-weight: 100;*/
/*}*/

/*.header .channelDetail h3 {*/
/*    font-weight: 100;*/
/*    font-size: medium;*/
/*    color: gray;*/
/*}*/

/*.header .channelDetail h3 strong {*/
/*    margin-left: 0.5em;*/
/*    font-weight: bold;*/
/*    font-size: x-large;*/
/*    color: #666;*/
/*}*/

/*.header .channelDetail h3 input {*/
/*    font-size: x-large;*/
/*    margin-left: 0.5em;*/
/*    color: #666;*/
/*    border: 1px solid #ccc;*/
/*    border-radius: 4px;*/
/*}*/

/*.header .channelDetail h3 button {*/
/*    display: inline-block;*/
/*    vertical-align: bottom;*/
/*}*/

/*.header .channelDetail a {*/
/*    font-family: sans-serif;*/
/*    font-weight: bold;*/
/*    font-size: large;*/
/*    color: hotpink;*/
/*}*/

/*.clip {*/
/*    overflow: hidden;*/
/*}*/

/*.clip .container {*/
/*    padding-top: 20px;*/
/*}*/


/*!* TODO: ------------------------------------------- Splash Page Styles ------------------------------------------- *!*/
/*.splash.container {*/
/*    position: relative;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: start;*/
/*    height: 100vh;*/
/*}*/

/*.channels {*/
/*    flex: 1;*/
/*    padding: 20px;*/
/*}*/

/*.container .splashHeader {*/
/*    position: absolute;*/
/*    right: 0;*/
/*    top: 0;*/
/*    padding: 0;*/
/*}*/

/*.splashHeader {*/
/*    margin-left: auto;*/
/*    padding: 10px;*/
/*}*/

/*.splash .hero {*/
/*    flex: 2;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    padding: 20px;*/
/*}*/

/*.splash h1, h2, h3 {*/
/*    font-family: "Rowdies", cursive;*/
/*}*/

/*.splash .hero h1 {*/
/*    display: block;*/
/*    grid-column: 1/3;*/
/*    grid-row: 1/3;*/
/*    z-index: 4;*/
/*    margin: auto;*/

/*    font-size: 80px;*/
/*    color: white;*/
/*    text-shadow: 1px 1px 5px black, 3px 3px 2px orange, -3px -1px 2px blue;*/
/*    font-family: "Rowdies", cursive;*/
/*}*/

/*.splash .hero h2 {*/
/*    display: block;*/
/*    grid-column: 1/3;*/
/*    grid-row: 1/3;*/
/*    z-index: 3;*/
/*    margin: auto;*/

/*    font-size: 240px;*/
/*    color: white;*/
/*    text-shadow: 0 0 20px red, 0 0 40px darkred;*/
/*}*/

/*.splash .logo {*/
/*    display: grid;*/
/*    grid-column: 1/3;*/
/*    grid-row: 1/3;*/
/*    height: 300px;*/
/*    width: 600px;*/
/*}*/

/*.splash .logo img {*/
/*    grid-column: 1/3;*/
/*    grid-row: 1/3;*/
/*}*/

.header {
    display: flex;
    background-color: white;
    color: gray;
    font-family: "Rowdies", cursive;
    position: relative;
    z-index: 2;
    box-shadow: 0 10px 8px #007bff;
}

.header h2 {
    position: relative;
    z-index: 3;
    font-size: 32px;
    color: white;
    text-shadow: 1px 1px 5px black, 3px 3px 2px #007bff, -3px -1px 2px #007bff;
    font-family: "Rowdies", cursive;
    padding: 10px;
    display: block;
    justify-content: start;
}

.header h2 a {
    color: white;
    text-decoration: none;
}

.rounded-lg-3 {
    height: 100%;
    width: 100%;
}

.d-block {
    font-size: 18px;
}

.reaction .users {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    z-index: 1;
}

.reaction:hover .users {
    display: block;
}

.alignedForm error {
    display: none;
}

.alignedForm input:invalid ~ error {
    display: inline;
}

.thread-container{
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
}



/*.splash .hero form {*/
/*    grid-column: 2/3;*/
/*    grid-row: 2/3;*/
/*}*/

/*.splash .hero button {*/
/*    margin: 20px 40px 20px 40px;*/
/*    padding: 10px 20px 10px 20px;*/
/*    font-size: 24px;*/
/*    background-color: orange;*/
/*    border: 7px outset orange;*/
/*    border-radius: 20px;*/
/*    box-shadow: 0 0 4px magenta;*/
/*    filter: drop-shadow(10px 4px 4px #4444dd);*/
/*}*/

/*.splash .hero button:hover {*/
/*    box-shadow: 0 2px 5px magenta;*/
/*}*/


/*!* channelList *!*/
/*.splash .channelList {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: center;*/
/*    width: 200px;*/
/*    max-height: 100vh;*/
/*    overflow-y: auto;*/
/*    margin: 0;*/
/*    padding: 20px;*/
/*    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);*/
/*}*/

/*.channelList button {*/
/*    display: block;*/
/*    width: 100%;*/
/*    padding: 10px;*/
/*    margin-bottom: 8px;*/
/*    text-align: left;*/
/*    border: none;*/
/*    background-color: transparent;*/
/*    cursor: pointer;*/
/*    color: #0c70bc;*/
/*    font-size: 20px;*/
/*    transition: background-color 250ms, transform 250ms;*/
/*    text-shadow: none;*/
/*    box-shadow: none;*/
/*    filter: none;*/
/*}*/

/*.channelList button:hover {*/
/*    background-color: #e8e8e8;*/
/*    transform: translateX(10px);*/
/*}*/

/*.splash .channelList > a {*/
/*    display: block;*/
/*    flex: 1 1 30%;*/
/*    padding: 8px;*/
/*    margin: 4px;*/
/*    color: white;*/
/*    text-shadow: 0 1px 1px darkslateblue;*/
/*    border-radius: 4px;*/
/*    background-color: gray;*/
/*    box-shadow: 0 4px 8px lightcyan;*/
/*}*/

/*.splash .channelList > a:hover {*/
/*    background-color: rgb(75, 101, 122);*/
/*    border-radius: 3px;*/
/*}*/

/*.splash .channelList a {*/
/*    text-decoration: none;*/
/*    will-change: transform;*/
/*    transition: transform 250ms;*/
/*}*/

/*.splash .channelList a:hover {*/
/*    transform: scale(1.025);*/
/*}*/


/*!* TODO: ------------------------------------------- Profile Page Styles ------------------------------------------- *!*/
/*.profile {*/
/*    display: block;*/
/*}*/

/*.profile .exit {*/
/*    margin-top: 40px;*/
/*}*/

/*.profile .exit.goToSplash {*/
/*    grid-column: 2/3;*/
/*}*/

/*.profile .exit.logout {*/
/*    grid-column: 3/4;*/
/*    background-color: lightcoral;*/
/*}*/

/*!* Login screen *!*/
/*.login {*/
/*    display: block;*/
/*}*/

/*.login .failed {*/
/*    margin-top: 4em;*/
/*    display: flex;*/
/*}*/

/*.login .failed .message {*/
/*    margin-top: auto;*/
/*    margin-bottom: auto;*/
/*    padding: 8px;*/
/*    color: white;*/
/*    border-radius: 5px;*/
/*    background-color: lightcoral;*/
/*    box-shadow: 0 0 5px 3px lightcoral;*/
/*}*/

/*.login .failed button {*/
/*    margin-left: 20px;*/
/*    margin-right: auto;*/
/*    padding: 12px;*/
/*}*/


/*!* TODO: ------------------------------------------- Channel Page Styles ------------------------------------------- *!*/
/*.channel .chat {*/
/*    display: grid !important;*/
/*    grid-template-columns: 3fr 2fr;*/
/*    height: 100%;*/
/*}*/

/*.channel .chat .comment_box {*/
/*    margin-right: 20px;*/
/*    padding-right: 20px;*/
/*    height: 100%;*/
/*}*/

/*.channel .chat .comment_box textarea {*/
/*    display: block;*/
/*    width: 100%;*/
/*}*/

/*.channel .chat .comment_box button {*/
/*    border-radius: 5px;*/
/*    padding: 10px;*/
/*    border: none;*/
/*    margin-top: 15px;*/
/*}*/

/*.channel .chat .comment_box label {*/
/*    display: block;*/
/*    font-family: "Rowdies", cursive;*/
/*    margin-bottom: 10px;*/
/*    padding-top: 20px;*/
/*}*/

/*.channel .chat .messages {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    margin-right: 20px;*/
/*    overflow-y: auto;*/
/*    padding-top: 10px;*/
/*}*/

/*.channel .chat .replies {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    margin-right: 20px;*/
/*    min-height: 300px;*/
/*    max-height: 600px;*/
/*}*/

/*.channel .chat .message {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    border-bottom: 1px solid lightgray;*/
/*    padding: 5px 0;*/
/*}*/

/*.channel .chat .reply {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    border-bottom: 1px solid lightgray;*/
/*    padding: 5px 0;*/
/*}*/

/*.channel .chat .message .author {*/
/*    color: #c93;*/
/*    font-weight: bold;*/
/*    margin-right: 8px;*/
/*}*/

/*.channel .chat .reply .author {*/
/*    color: #c93;*/
/*    font-weight: bold;*/
/*    margin-right: 8px;*/
/*}*/

/*.channel .chat .message .content {*/
/*    display: block;*/
/*    padding: 5px;*/
/*    grid-column: 2/3;*/
/*    flex-grow: 1;*/
/*}*/

/*.channel .chat .reply .content {*/
/*    display: block;*/
/*    padding: 5px;*/
/*    grid-column: 2/3;*/
/*    flex-grow: 1;*/
/*}*/

/*.channel .chat .message button {*/
/*    margin-left: 8px;*/
/*}*/

/*.channel .replies {*/
/*    padding: 10px;*/
/*    margin-top: 20px;*/
/*    background-color: aliceblue;*/
/*    border: 1px solid lightcoral;*/
/*    overflow-y: auto;*/
/*    max-height: 300px;*/
/*}*/


/*!* TODO: --------------------------------------------- 404 Page Styles --------------------------------------------- *!*/
.notFound h1 {
    margin: 20px 20px -300px 20px;
    font-size: 500px;
    color: #007bff;
}

.notFound .message {
    margin-left: 100px;
    text-shadow: 0 0 6px white;
}


/*!* TODO: --------------------------------------------- Emoji Styles --------------------------------------------- *!*/
/*.reaction .users {*/
/*    display: none;*/
/*    position: absolute;*/
/*    bottom: 100%;*/
/*    left: 50%;*/
/*    transform: translateX(-50%);*/
/*    white-space: nowrap;*/
/*    background-color: #f9f9f9;*/
/*    color: black;*/
/*    border-radius: 6px;*/
/*    padding: 5px;*/
/*    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);*/
/*    z-index: 1;*/
/*}*/

/*.reaction .users.show {*/
/*    display: block;*/
/*}*/

/*.reaction {*/
/*    position: relative;*/
/*    cursor: pointer;*/
/*    display: inline-block;*/
/*    margin-right: 8px;*/
/*}*/


/*!* TODO: ---------------------------------------- Responsive Design Styles ---------------------------------------- *!*/
.channel-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.home-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}


/*!* channel list *!*/
/*.channel-list {*/
/*    flex: 1;*/
/*}*/

/*.clip .container .chat {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    flex-wrap: wrap;*/
/*}*/

/*!* channel *!*/
/*.message-list {*/
/*    flex: 3;*/
/*    width: auto;*/
/*}*/

/*!* thread *!*/
/*.reply-list {*/
/*    flex: 2;*/
/*    width: auto;*/
/*    padding: 20px;*/
/*}*/

.back-button {
    display: none;
}

@media (max-width: 1000px) {
    .channel-container {
        grid-template-columns: 1fr;
    }

    .hidden {
        display: none;
    }

    .back-button {
        display: inline-block;
        margin: 10px;
        padding: 5px 10px;
        background-color: #007bff;
        color: white;
        text-align: center;
        border-radius: 5px;
        cursor: pointer;
    }
}

/*!* narrow screen *!*/
/*@media (max-width: 1000px) {*/
/*    .channel-container {*/
/*        flex-direction: column;*/
/*    }*/

/*    .channel-list, .message-list, .narrow-message-list, .reply-list {*/
/*        max-width: 100%;*/
/*        flex: none;*/
/*    }*/

/*    .hidden {*/
/*        display: none;*/
/*    }*/

/*    .back-button {*/
/*        display: inline-block;*/
/*        margin: 10px;*/
/*        padding: 5px 10px;*/
/*        background-color: #007bff;*/
/*        color: white;*/
/*        text-align: center;*/
/*        border-radius: 5px;*/
/*        cursor: pointer;*/
/*    }*/

/*    .splashHeader {*/
/*        display: none;*/
/*    }*/

/*    .splash .hero {*/
/*        display: none;*/
/*    }*/
/*}*/
